* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Combo', cursive;
}

p {
    font-family: 'Amiko', sans-serif;
    
}

/* ------- x --------*\
         HEADER
\*                   */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
    background-color: black;
}

#headerTitle {
    margin-left: 8px;
}

#navbar1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#dropdown {
    margin: 0 5px;
    padding: 5px;
}

.dropbtn {
    padding: 10px;
    border-style: none;
    background-color: black;
    color: white;
    font-size: 13px;
}

.dropbtn:hover {
    color: #0196b1;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#linear-content, #radial-content {
    display: none;
    position: absolute;
    background-color: #00bedfe8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#linear-content a:hover, #radial-content a:hover {
    background-color: #0196b1f1;
} 

#dropdown:hover #linear-content, #dropdown:hover #radial-content {
    display: block;
}

#navbar2 {
    display: none;
}


/* ------- x ------- *\
    CORPO DA PAGE
\*                   */

#main-doc {
    border: solid skyblue 1px;
    width: 90%;
    margin: 50px 0;
    padding: 8px;
}

#gradiente_linear {
    border: limegreen solid 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    margin: 20px 0;
}

.main-section h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

code {
    border: gray solid 1px;
    border-radius: 2px;
}

.exImg {
    border: magenta solid 1px;
    width: 99%;
    min-height: 50px;
    margin: 10px 0;
}

 /* DIFERENTES GRADIENTES */

#boxDefaultLinear {
    background-image: linear-gradient(rgb(0, 255, 13), rgb(0, 174, 255));
}


#boxHorizontal {
    background-image: linear-gradient(to right, rgb(0, 255, 13), rgb(0, 174, 255));
}

#boxDiagonal {
    background-image: linear-gradient(to bottom right, rgb(0, 255, 13), rgb(0, 174, 255));
}


#boxAngulo {
    background-image: linear-gradient(-90deg, rgb(0, 255, 13), rgb(0, 174, 255));
}

#boxTresCores {
    background-image: linear-gradient(rgb(0, 255, 13), rgb(0, 174, 255), rgb(132, 0, 255));
}

#boxRainbown {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }
