* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Combo', cursive;
}

p {
    font-family: 'Amiko', sans-serif;
    
}

/* ------- x --------*\
         HEADER
\*                   */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
    background-color: black;
}

#headerTitle {
    margin-left: 8px;
}

#navbar1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#dropdown {
    margin: 0 5px;
    padding: 5px;
}

.dropbtn {
    padding: 10px;
    border-style: none;
    background-color: black;
    color: white;
    font-size: 13px;
    border-bottom: solid 1px #0196b1;
}

.dropbtn:hover {
    color: #0196b1;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#linear-content, #radial-content {
    display: none;
    position: absolute;
    background-color: #00bedfe8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#linear-content a:hover, #radial-content a:hover {
    background-color: #0196b1f1;
} 

#dropdown:hover #linear-content, #dropdown:hover #radial-content {
    display: block;
}

#navbar2 {
    display: none;
}

#navbar2 ul {
    list-style: none;
}

#navbar2 li {
    border-bottom: solid 1px #00bedf;
}

#navbar2 li a:hover {
    background-color: #0196b1f1;
}

@media (min-width: 600px) {
    #desktop{
        display: flex;
        flex-direction: row;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        width: 30%;
        height: 100vh;
        padding-top: 5px 10px;

        position: fixed;
        left: 0;
    }

    #navbar1 {
        display: none;
        
    }

    #navbar2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: ;
    }
}


/* ------- x ------- *\
    CORPO DA PAGE
\*                   */

#main-doc {
    
    width: 90%;
    margin: 50px 0;
    padding: 8px;
}

@media (min-width: 600px) {
    #main-doc {
        width: 55%;
        position: absolute;
        right: 0;

        margin: 25px 30px;
    }
}

#gradiente_linear {
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradiente_radial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section h2 {
    align-self: flex-start;
}

.main-section h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    align-self: flex-start;
}

}
code {
    border: gray solid 1px;
    border-radius: 2px;
}

.exImg {
    
    width: 99%;
    min-height: 50px;
    margin: 10px 0;
}

 /* DIFERENTES GRADIENTES */

#boxDefaultLinear {
    background-image: linear-gradient(rgb(0, 255, 13), rgb(0, 174, 255));
}


#boxHorizontal {
    background-image: linear-gradient(to right, rgb(0, 255, 13), rgb(0, 174, 255));
}

#boxDiagonal {
    background-image: linear-gradient(to bottom right, rgb(0, 255, 13), rgb(0, 174, 255));
}


#boxAngulo {
    background-image: linear-gradient(-90deg, rgb(0, 255, 13), rgb(0, 174, 255));
}

#boxTresCores {
    background-image: linear-gradient(rgb(0, 255, 13), rgb(0, 174, 255), rgb(132, 0, 255));
}

#boxRainbown {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }

#boxTransparente {
    background-image: linear-gradient(to right, rgba(0, 204, 255, 0), rgba(0, 204, 255, 1));
}

#boxRepeat {
    background-image: repeating-linear-gradient(rgb(0, 255, 13), rgb(0, 238, 255) 10%, rgb(0, 47, 255) 20%);
}

#boxDefaultRadial {
    background-image: radial-gradient(#00ffb3, #0051ff, #36018d);
}

#boxDifSpaces {
    background-image: radial-gradient(#ffc400 5%, #103dd1 25%, rgb(13, 1, 85) 60%);
}

#boxCircle {
    background-image: radial-gradient(circle, #ff0000, #ffff00, #71d316);
    width: 300px;
    height: 300px;
}


#boxRepeatRadial {
    background-image: repeating-radial-gradient(#ffd900, #48ff00 10%, #007780 15%);
}

#footer {
    background-color: black;
    width: 100%;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 13px;
}

@media (min-width: 600px) {
    #footer {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;   
    }

    #footer p {
        margin: 0 15px;
    }
}